@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital@1&family=Outfit:wght@300&family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --bg-main-color: antiquewhite;
    --text-light-color: rgb(34, 33, 32);
    --text-dark-color: black;
    --max-desktop-resolution: 800px;
    --font-main: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
}


body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: linear-gradient(#331c58, #7597de);
}

nav .sticky {
    padding: 5px 100px;
    background: #ffffff;
}

nav .sticky .logo
nav .sticky ul li a{
    color: #000;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 90px;
    padding-left: 35px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav .logo {
    color: var(--bg-main-color);
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}



nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

nav ul li {
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    padding: 6px 14px;
    color: var(--bg-main-color);
    border-radius: 25px;
}

nav li a:not(:last-child) {
    margin-right: 60px;
}

nav ul li a:hover {
    background: #ffff;
    color: var(--text-dark-color);
    transition: 0.5s;
    transform:scale(0.9);
    text-decoration: underline;
}

.menu {
    background-image: url(picture.jpg);
    width: 100%;
    height: 660px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.content {
    font-size: 17px;
}

h2 {
    margin: 0 auto;
}

h3 {
    font-size: 50px;
    color: var(--text-light-color);
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-main);
}

.content1 {
    margin-left: 80px;
    color: var(--text-light-color);
    font-size: 17;
}

p {
    margin-left: 80px;
    color: var(--text-light-color);
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #2915dd;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:lastchild) {
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-link a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(225, 225, 225,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-link a:hover {
    color: #24262b;
    background-color: #ffffff;
}

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
    
}